[submodule "Express"]
	path = Express
	url = https://github.com/Roman-Ojha/express
[submodule "Notes/12_passport_js_auth"]
	path = Notes/12_passport_js_auth
	url = git@github.com:roman-ojha/express-passport-user-auth.git
[submodule "Notes/13_Create_own_NPM_Package"]
	path = Notes/13_Create_own_NPM_Package
	url = git@github.com:roman-ojha/roman-simple-math-npm-package-example.git
[submodule "Notes/15_Household_Shopping_Microservice"]
	path = Notes/15_Household_Shopping_Microservice
	url = git@github.com:roman-ojha/household-shopping-microservice-nodejs.git
